.aboutPageWrapper {
   background-color: #343434;
   display: flex;
   flex-wrap: wrap;
/*    background-color: red; */
/*    border: 1px solid red; */
   width: 100%;
   margin: 0;
   padding: 0;
   min-height: 800; 
}

.aboutPage {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   color: #A8C686;
/*    border: 1px blue solid; */
}

.sections {
   width: 100%;
   margin-left: 5%;
   margin-right: 5%;
   text-align: start;
   margin-bottom: 2%;
/*    bordeR: 1px red solid; */
}

.aboutPageHeaders {
   font-size: 2rem;
   font-weight: bold;

}

.aboutPageBody {
   font-size: 1.25rem;
   color: #F0F8EA;
}