.mint {
   background-color: transparent;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
/*    background-color: red; */
   width: 100%;
   margin: 0;
   padding: 0;
   height: 100%;
   min-height: 100vh;
}

.mintPageExplanation {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #3e190f;
/*    border: 1px red solid; */
}

.mintPageExplanationHead {
   font-size: 2rem

}

.mintPageExplanationSubhead {
   font-size: 1.5rem

}

.mintPageExplanationBody {
   font-size: 1.5rem;
   margin-bottom: 5px;

}

.beforeMintRender {
/*    border: 1px white solid; */
   width: 100%;
/*    border: 1px red solid; */
}

.mintFormStyling {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.mintRenderWrapper {
/*    border: 2px solid magenta; */
   display: flex;
   justify-content: center;
   justify-items: center;
   margin: 2% 4% 2% 4%;
}

.mintRenderOneNFT {
   display: grid;
   grid-template-rows: .1fr 1fr;
   grid-template-columns: 1fr;
   height: 100%;
/*    border: 1px white solid; */
   justify-items: center;
   align-items: center;
   margin: 0;
   padding: 0;
/*    overflow: auto; */
}

.oneMintedNFTRenderTitle {
   display: grid;
   grid-row: 1 / 2;
   grid-column: 1 / 2;
/*    border: 1px yellow solid; */
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 2rem;
   color: #3e190f;
}

.oneMintedNFTRender {
   display: grid;
   grid-row: 2 / 3;
   grid-column: 1 / 2;
   width: 40%;
/*    border: 1px red solid; */
   margin-bottom: 10px
}

.mintRenderTwoNFTs {
   display: grid;
   grid-template-rows: .1fr 1fr;
   grid-template-columns: 1fr 1fr;
   height: 100%;
   justify-items: center;
   align-items: center;
   margin: 0;
   padding: 0;
/*    border: 2px white solid; */
   font-size: 2rem;
}

.twoMintedNFTRenderTitle1 {
   display: grid;
   grid-row: 1 / 2;
   grid-column: 1 / 2;
   margin-top: 10px;
   margin-bottom: 10px;
/*    border: 1px solid red; */
   font-size: 2rem;
   color: #3e190f;
}

.twoMintedNFTRenderTitle2 {
   display: grid;
   grid-row: 1 / 2;
   grid-column: 2 / 3;
   margin-top: 10px;
   margin-bottom: 10px;
/*    border: 1px solid yellow; */
   font-size: 2rem;
   color: #3e190f;
   
}

.twoMintedNFTRender1 {
   display: grid;
   grid-row: 2 / 3;
   grid-column: 1 / 2;
   width: 80%;

/*    border: 1px turquoise solid; */
}

.twoMintedNFTRender2 {
   display: grid;
   grid-row: 2 / 3;
   grid-column: 2 / 3;
   width: 80%;
/*    border: 1px green solid; */
}

