html {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*   background-color: blue; */
/*   border: 2px solid white; */
  background-color: #343434;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.OldEnglishWrapper {
  display: flex;
  justify-content: center;
  /* border: 3px solid teal; */
  width: 100%;
  margin: 0;
}

.MintWrapper {
  display: flex;
  justify-content: center;
/*   border: 3px solid teal; */
  width: 100%;
  margin: 0;;
}

